#container
{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: var(--background-primary);
}

#content
{
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: transparent;
}