hr
{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

h2
{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

p
{
    margin: 0px;
    padding: 0px;
}

#print-area
{
    display: flex;
    flex-direction: column;


    height: 90%;
    aspect-ratio: 8.5/11;

    background-color: white;
}

#info-area
{
    display: flex;
    flex-grow: 1;
}

#drawing-area
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50%;
}

#bottom-section
{
    display: flex;
    flex-direction: row;
    max-height: 40%;
    width: 100%;
    border-top: 1px solid black;
    flex-grow: 2;
}

#notes-area
{
    height: 100%;
    flex-grow: 0.75;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 10px;
}

#packet-contents
{
    padding: 10px;
    flex-grow: 0.25;
}

#cover-info
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

#customer-info
{
    display: flex;
    flex-direction: column;
    flex-grow: .1;
    border-top: 1px solid;
    border-right: 1px solid;
}

#customer-heading
{
    text-align: center;
    border-bottom: 1px solid;
    padding: 5px;
}

#customer-address
{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid black;
}

#notes-content
{
    display: flex;
    flex-grow: 1;
    resize: none;
    width: 100%;
    border: none;
    overflow: hidden;
}

#notes-content:focus
{
    outline: none;
}

#model-info
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#model-name
{
    flex-grow: 1;
    border-right: 1px solid;
    padding: 5px;
}

#model-color
{
    text-align: center;
    flex-grow: .5;
    padding: 5px;
}

#build-info
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.info-column
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
}

@media print 
{
    body * 
    {
      visibility: hidden;
    }

    #print-area, #print-area * 
    {
      visibility: visible;
    }

    #print-area
    {
        height: 100%;
    }
}